.content {
  line-height: 2em;

  &--popular {
    flex: 1;
  }

  &--main {

    p{
        width: 90%;
    }
    @media (min-width: $screen-md) {
      display: flex;
      //   grid-template-columns: repeat(2, 1fr);
      //   grid-row: 50%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @media (min-width: $screen-lg) {
      display: grid;
      //   display: flex;
      grid-template-columns: repeat(2, 1fr);
      h1 {
        width: 8ch;
      }

      //   grid-row: 50%;
    }
  }
}
