$font-n: 16px;

$screen-sm: 36em; //576px Large smartphones
$screen-md: 48em; //768px Small tablets
$screen-lg: 62em; //992px Tablets
$screen-xl: 75em; //1200px Desktops

// ### Primary

$Soft-orange: hsl(35, 77%, 62%);
$Soft-red: hsl(5, 85%, 63%);

// ### Neutral

$Off-white: hsl(36, 100%, 99%);
$Grayish-blue: hsl(233, 8%, 79%);
$Dark-grayish-blue: hsl(236, 13%, 42%);
$Very-dark-blue: hsl(240, 100%, 5%);
